/JSTL-1.2/

/PildorasInformaticas/EstructurasPrincipales/nbproject/
/PildorasInformaticas/EstructurasPrincipales/build/
/PildorasInformaticas/EstructurasPrincipales/dist/
/PildorasInformaticas/EstructurasPrincipales/test/
/PildorasInformaticas/EstructurasPrincipales/out/
/PildorasInformaticas/EstructurasPrincipales/*.xml
/PildorasInformaticas/EstructurasPrincipales/*.mf

/PildorasInformaticas/ManipulacionCadenas/nbproject/
/PildorasInformaticas/ManipulacionCadenas/build/
/PildorasInformaticas/ManipulacionCadenas/dist/
/PildorasInformaticas/ManipulacionCadenas/test/
/PildorasInformaticas/ManipulacionCadenas/out/
/PildorasInformaticas/ManipulacionCadenas/*.xml
/PildorasInformaticas/ManipulacionCadenas/*.mf

/PildorasInformaticas/EntradaSalidaDeDatos/nbproject/
/PildorasInformaticas/EntradaSalidaDeDatos/build/
/PildorasInformaticas/EntradaSalidaDeDatos/dist/
/PildorasInformaticas/EntradaSalidaDeDatos/test/
/PildorasInformaticas/EntradaSalidaDeDatos/out/
/PildorasInformaticas/EntradaSalidaDeDatos/*.xml
/PildorasInformaticas/EntradaSalidaDeDatos/*.mf

/PildorasInformaticas/CondicionalesYBucles/nbproject/
/PildorasInformaticas/CondicionalesYBucles/build/
/PildorasInformaticas/CondicionalesYBucles/dist/
/PildorasInformaticas/CondicionalesYBucles/test/
/PildorasInformaticas/CondicionalesYBucles/out/
/PildorasInformaticas/CondicionalesYBucles/*.xml
/PildorasInformaticas/CondicionalesYBucles/*.mf

