/JSTL-1.2/

/PildorasInformaticas/EstructurasPrincipales/nbproject/
/PildorasInformaticas/EstructurasPrincipales/build/
/PildorasInformaticas/EstructurasPrincipales/dist/
/PildorasInformaticas/EstructurasPrincipales/test/
/PildorasInformaticas/EstructurasPrincipales/out/
/PildorasInformaticas/EstructurasPrincipales/.settings/
/PildorasInformaticas/EstructurasPrincipales/*.classpath
/PildorasInformaticas/EstructurasPrincipales/*.project
/PildorasInformaticas/EstructurasPrincipales/*.xml
/PildorasInformaticas/EstructurasPrincipales/*.mf

/PildorasInformaticas/ManipulacionCadenas/nbproject/
/PildorasInformaticas/ManipulacionCadenas/build/
/PildorasInformaticas/ManipulacionCadenas/dist/
/PildorasInformaticas/ManipulacionCadenas/test/
/PildorasInformaticas/ManipulacionCadenas/out/
/PildorasInformaticas/ManipulacionCadenas/.settings/
/PildorasInformaticas/ManipulacionCadenas/*.classpath
/PildorasInformaticas/ManipulacionCadenas/*.project
/PildorasInformaticas/ManipulacionCadenas/*.xml
/PildorasInformaticas/ManipulacionCadenas/*.mf

/PildorasInformaticas/EntradaSalidaDeDatos/nbproject/
/PildorasInformaticas/EntradaSalidaDeDatos/build/
/PildorasInformaticas/EntradaSalidaDeDatos/dist/
/PildorasInformaticas/EntradaSalidaDeDatos/test/
/PildorasInformaticas/EntradaSalidaDeDatos/out/
/PildorasInformaticas/EntradaSalidaDeDatos/.settings/
/PildorasInformaticas/EntradaSalidaDeDatos/*.classpath
/PildorasInformaticas/EntradaSalidaDeDatos/*.project
/PildorasInformaticas/EntradaSalidaDeDatos/*.xml
/PildorasInformaticas/EntradaSalidaDeDatos/*.mf

/PildorasInformaticas/CondicionalesYBucles/nbproject/
/PildorasInformaticas/CondicionalesYBucles/build/
/PildorasInformaticas/CondicionalesYBucles/dist/
/PildorasInformaticas/CondicionalesYBucles/test/
/PildorasInformaticas/CondicionalesYBucles/out/
/PildorasInformaticas/CondicionalesYBucles/.settings/
/PildorasInformaticas/CondicionalesYBucles/*.classpath
/PildorasInformaticas/CondicionalesYBucles/*.project
/PildorasInformaticas/CondicionalesYBucles/*.xml
/PildorasInformaticas/CondicionalesYBucles/*.mf

/PildorasInformaticas/JavaArrays/nbproject/
/PildorasInformaticas/JavaArrays/build/
/PildorasInformaticas/JavaArrays/dist/
/PildorasInformaticas/JavaArrays/test/
/PildorasInformaticas/JavaArrays/out/
/PildorasInformaticas/JavaArrays/.settings/
/PildorasInformaticas/JavaArrays/*.classpath
/PildorasInformaticas/JavaArrays/*.project
/PildorasInformaticas/JavaArrays/*.xml
/PildorasInformaticas/JavaArrays/*.mf

/PildorasInformaticas/POO/nbproject/
/PildorasInformaticas/POO/build/
/PildorasInformaticas/POO/dist/
/PildorasInformaticas/POO/test/
/PildorasInformaticas/POO/out/
/PildorasInformaticas/POO/.settings/
/PildorasInformaticas/POO/*.classpath
/PildorasInformaticas/POO/*.project
/PildorasInformaticas/POO/*.xml
/PildorasInformaticas/POO/*.mf

/PildorasInformaticas/AppsGraficas/nbproject/
/PildorasInformaticas/AppsGraficas/build/
/PildorasInformaticas/AppsGraficas/dist/
/PildorasInformaticas/AppsGraficas/test/
/PildorasInformaticas/AppsGraficas/out/
/PildorasInformaticas/AppsGraficas/.settings/
/PildorasInformaticas/AppsGraficas/*.classpath
/PildorasInformaticas/AppsGraficas/*.project
/PildorasInformaticas/AppsGraficas/*.xml
/PildorasInformaticas/AppsGraficas/*.mf

/PildorasInformaticas/EjemplosAdicionales/nbproject/
/PildorasInformaticas/EjemplosAdicionales/build/
/PildorasInformaticas/EjemplosAdicionales/dist/
/PildorasInformaticas/EjemplosAdicionales/test/
/PildorasInformaticas/EjemplosAdicionales/out/
/PildorasInformaticas/EjemplosAdicionales/.settings/
/PildorasInformaticas/EjemplosAdicionales/*.classpath
/PildorasInformaticas/EjemplosAdicionales/*.project
/PildorasInformaticas/EjemplosAdicionales/*.xml
/PildorasInformaticas/EjemplosAdicionales/*.mf

/PildorasInformaticas/Excepciones/nbproject/
/PildorasInformaticas/Excepciones/build/
/PildorasInformaticas/Excepciones/dist/
/PildorasInformaticas/Excepciones/test/
/PildorasInformaticas/Excepciones/out/
/PildorasInformaticas/Excepciones/.settings/
/PildorasInformaticas/Excepciones/*.classpath
/PildorasInformaticas/Excepciones/*.project
/PildorasInformaticas/Excepciones/*.xml
/PildorasInformaticas/Excepciones/*.mf

/PildorasInformaticas/JavaStreams/nbproject/
/PildorasInformaticas/JavaStreams/build/
/PildorasInformaticas/JavaStreams/dist/
/PildorasInformaticas/JavaStreams/test/
/PildorasInformaticas/JavaStreams/out/
/PildorasInformaticas/JavaStreams/.settings/
/PildorasInformaticas/JavaStreams/*.classpath
/PildorasInformaticas/JavaStreams/*.project
/PildorasInformaticas/JavaStreams/*.xml
/PildorasInformaticas/JavaStreams/*.mf

/PildorasInformaticas/ProgramGenerica/nbproject/
/PildorasInformaticas/ProgramGenerica/build/
/PildorasInformaticas/ProgramGenerica/dist/
/PildorasInformaticas/ProgramGenerica/test/
/PildorasInformaticas/ProgramGenerica/out/
/PildorasInformaticas/ProgramGenerica/.settings/
/PildorasInformaticas/ProgramGenerica/*.classpath
/PildorasInformaticas/ProgramGenerica/*.project
/PildorasInformaticas/ProgramGenerica/*.xml
/PildorasInformaticas/ProgramGenerica/*.mf

/PildorasInformaticas/ProgramConcurrente/nbproject/
/PildorasInformaticas/ProgramConcurrente/build/
/PildorasInformaticas/ProgramConcurrente/dist/
/PildorasInformaticas/ProgramConcurrente/test/
/PildorasInformaticas/ProgramConcurrente/out/
/PildorasInformaticas/ProgramConcurrente/.settings/
/PildorasInformaticas/ProgramConcurrente/*.classpath
/PildorasInformaticas/ProgramConcurrente/*.project
/PildorasInformaticas/ProgramConcurrente/*.xml
/PildorasInformaticas/ProgramConcurrente/*.mf

/PildorasInformaticas/Colecciones/nbproject/
/PildorasInformaticas/Colecciones/build/
/PildorasInformaticas/Colecciones/dist/
/PildorasInformaticas/Colecciones/test/
/PildorasInformaticas/Colecciones/out/
/PildorasInformaticas/Colecciones/.settings/
/PildorasInformaticas/Colecciones/*.classpath
/PildorasInformaticas/Colecciones/*.project
/PildorasInformaticas/Colecciones/*.xml
/PildorasInformaticas/Colecciones/*.mf

/PildorasInformaticas/JavaSockets/nbproject/
/PildorasInformaticas/JavaSockets/build/
/PildorasInformaticas/JavaSockets/dist/
/PildorasInformaticas/JavaSockets/test/
/PildorasInformaticas/JavaSockets/out/
/PildorasInformaticas/JavaSockets/.settings/
/PildorasInformaticas/JavaSockets/*.classpath
/PildorasInformaticas/JavaSockets/*.project
/PildorasInformaticas/JavaSockets/*.xml
/PildorasInformaticas/JavaSockets/*.mf

/PildorasInformaticas/AccesoBBDD/nbproject/
/PildorasInformaticas/AccesoBBDD/build/
/PildorasInformaticas/AccesoBBDD/dist/
/PildorasInformaticas/AccesoBBDD/test/
/PildorasInformaticas/AccesoBBDD/out/
/PildorasInformaticas/AccesoBBDD/.settings/
/PildorasInformaticas/AccesoBBDD/*.classpath
/PildorasInformaticas/AccesoBBDD/*.project
/PildorasInformaticas/AccesoBBDD/*.xml
/PildorasInformaticas/AccesoBBDD/*.mf

/PildorasInformaticas/JavaServerPages/nbproject/
/PildorasInformaticas/JavaServerPages/src/conf/
/PildorasInformaticas/JavaServerPages/build/
/PildorasInformaticas/JavaServerPages/test/
/PildorasInformaticas/JavaServerPages/.settings/
/PildorasInformaticas/JavaServerPages/*.classpath
/PildorasInformaticas/JavaServerPages/*.project
/PildorasInformaticas/JavaServerPages/*.xml
/PildorasInformaticas/JavaServerPages/*.mf

/PildorasInformaticas/JavaServlets/nbproject/
/PildorasInformaticas/JavaServlets/src/conf/
/PildorasInformaticas/JavaServlets/build/
/PildorasInformaticas/JavaServlets/test/
/PildorasInformaticas/JavaServlets/.settings/
/PildorasInformaticas/JavaServlets/*.classpath
/PildorasInformaticas/JavaServlets/*.project
/PildorasInformaticas/JavaServlets/*.xml
/PildorasInformaticas/JavaServlets/*.mf

/PildorasInformaticas/WebAppProductos/nbproject/
/PildorasInformaticas/WebAppProductos/src/conf/
/PildorasInformaticas/WebAppProductos/build/
/PildorasInformaticas/WebAppProductos/test/
/PildorasInformaticas/WebAppProductos/.settings/
/PildorasInformaticas/WebAppProductos/*.classpath
/PildorasInformaticas/WebAppProductos/*.project
/PildorasInformaticas/WebAppProductos/*.xml
/PildorasInformaticas/WebAppProductos/*.mf

/PildorasInformaticas/AppsGraficasAvanzadas/nbproject/
/PildorasInformaticas/AppsGraficasAvanzadas/build/
/PildorasInformaticas/AppsGraficasAvanzadas/dist/
/PildorasInformaticas/AppsGraficasAvanzadas/test/
/PildorasInformaticas/AppsGraficasAvanzadas/out/
/PildorasInformaticas/AppsGraficasAvanzadas/.settings/
/PildorasInformaticas/AppsGraficasAvanzadas/*.classpath
/PildorasInformaticas/AppsGraficasAvanzadas/*.project
/PildorasInformaticas/AppsGraficasAvanzadas/*.xml
/PildorasInformaticas/AppsGraficasAvanzadas/*.mf

/EstructurasDatosEnJava/nbproject/
/EstructurasDatosEnJava/build/
/EstructurasDatosEnJava/dist/
/EstructurasDatosEnJava/test/
/EstructurasDatosEnJava/out/
/EstructurasDatosEnJava/.settings/
/EstructurasDatosEnJava/*.classpath
/EstructurasDatosEnJava/*.project
/EstructurasDatosEnJava/*.xml
/EstructurasDatosEnJava/*.mf
