/JSTL-1.2/

/PildorasInformaticas/EstructurasPrincipales/nbproject/
/PildorasInformaticas/EstructurasPrincipales/build/
/PildorasInformaticas/EstructurasPrincipales/dist/
/PildorasInformaticas/EstructurasPrincipales/test/
/PildorasInformaticas/EstructurasPrincipales/out/
/PildorasInformaticas/EstructurasPrincipales/*.xml
/PildorasInformaticas/EstructurasPrincipales/*.mf

/PildorasInformaticas/ManipulacionCadenas/nbproject/
/PildorasInformaticas/ManipulacionCadenas/build/
/PildorasInformaticas/ManipulacionCadenas/dist/
/PildorasInformaticas/ManipulacionCadenas/test/
/PildorasInformaticas/ManipulacionCadenas/out/
/PildorasInformaticas/ManipulacionCadenas/*.xml
/PildorasInformaticas/ManipulacionCadenas/*.mf

